#################################################################################################################
################################# Orbiter Sensor 0 CONFIGURATION ################################################
#################################################################################################################

#config file version v2.2.04
#release date: 23.09.2023

# PAUSE and RESUME macros are defined at the end of this config file.
# If you prefer using your own p[lease delete them, otherwise define parking position below.

#################################################################################################################
################################# CHANGE HERE MACRO CONFIGURABLES################################################
#################################################################################################################

[gcode_macro _SENSOR_VARIABLES]         # change here macro configurables, enable disable functions!*************************
variable_filament_load_temp     :200    # temperature to heat up hotend for filament loading, default is 235
variable_filament_unload_temp   :185    # temperature to heat up hotend for filament un-loading, default is 185
variable_filament_load_min_temp :190    # minimum hotend set temperature allowed in filament load macro, default is 190
variable_nozzle_purge_length    :100    # filament extrude amount during load sequenc, hotend purge from old filament, default is 200
variable_nozzle_purge_speed     :450    # filament extrude speed in mm/min adjust this value lower if flow is too high and extruder skips during loading, default is 300
variable_unload_distance        :130     # filament retract distance for unload procedure. this length shall be long enough to extract the filament above the drive gears
variable_disable_autoload       :False  # disable filament autoload feature by setting this variable True
variable_disable_runnout        :False  # disable runnout by setting this variable True
variable_disable_autounload     :False  # disable auto unload filament by setting this variable to True
variable_enable_beep            :False   # uses M300 sound feature, set it True to enable
variable_park_position_x        :10    # edit your X parking position here for pause macro trigerred by runnout
variable_park_position_y        :10     # edit your Y parking position here for pause macro trigerred by runnout
variable_park_lift_z            :10     # edit your Z lift amount for parking position here, default is 10
Variable_park_retraction        :1      # edit your retraction amount for parking, default is 1
gcode:

#///////////////////////////filament sensor button macros/////////////////////////////////////////////////
[gcode_button filament_sense]
pin: !PF4 # remove the negation "!" for sensor v1 - use just PA9 as example
press_gcode: # sensor released  -runnout detected!
  {% if printer.toolhead.extruder == "extruder" %}
  _runnout_init
  {% else %}
  {% endif %}

release_gcode: #gcode macro for filament auto-load, sensor pressed
  {% if printer.toolhead.extruder == "extruder" %}
  _filament_load_init
  {% else %}
  {% endif %}
#********************************************************************************************************

#////////////////////////////////////////Filament Unload macros/////////////////////////////////////////////////
[gcode_button filament_unload]
pin: !PD9 # remove the negation "!" for sensor v1 - use just PA9 as example
release_gcode:  # filament unload procedure   
  {% if printer.toolhead.extruder == "extruder" %}
  _filament_unload_init
  {% else %}
  {% endif %}
press_gcode: # do not add any macro call here

#################################################################################################################################
####################################### DO NOT CHANGE ANYTHING BELOW THIS LINE!!! ###############################################
#################################################################################################################################


[respond]
default_type: echo

[force_move]
enable_force_move: True

####################################### Runout and Auto-Unload Code ###############################################

[gcode_macro _runnout_init] 
gcode:
  {% set sensor = printer['gcode_macro _SENSOR_VARIABLES'] %}  
  {% if (printer.print_stats.state == "printing") %}      
    {% if(sensor.disable_runnout|lower == 'false') %}
    _filament_change_state_a
   {% else %}
    M118 Filament runnout is disabled in the sensor config file!   
    {% endif %}     
  {% endif %} 
  UPDATE_DELAYED_GCODE ID=clear_loadbusy DURATION=2
  UPDATE_DELAYED_GCODE ID=clear_unloadbusy DURATION=2    
  SET_GCODE_VARIABLE MACRO=_filament_unload VARIABLE=filamentpresent VALUE=0



[gcode_macro _filament_change_state_a]
variable_changebusy: 0
variable_temp_target: 0
gcode:
  {% set sensor = printer['gcode_macro _SENSOR_VARIABLES'] %}  
  {% if changebusy == 0 %}
    PAUSE # call printer pause macro      
    SET_GCODE_VARIABLE MACRO=_filament_change_state_a VARIABLE=changebusy VALUE=1       
    M118 Filament runnout on print head 0!       
    _filament_change_state_b     # comment this line if you do not want to automatically unload filament in case there is a runnout detected.
  {% else %}
  {% endif %}

[gcode_macro _filament_change_state_b]
gcode:
  {% set sensor = printer['gcode_macro _SENSOR_VARIABLES'] %}  
  SET_GCODE_VARIABLE MACRO=_filament_load VARIABLE=loadbusy VALUE=1      
  {% if (sensor.enable_beep|lower == 'true') %} 
    M300 # beep sound
  {% endif %}
  M118 Unloading filament on print head 0...   
  M83
  G92 E0   
  # {% if printer[printer.toolhead.extruder].temperature < 185 %} # hardcoded threshold
  {% if (printer.extruder.can_extrude|lower != 'true')%} # checking for minimum extrusion temperature
        # check if temperature is over the minimum extrusion temp. min_extrude_temp must be defined in the extruder config (to about 185)
      M118 Hotend 0 heating!        
      SET_HEATER_TEMPERATURE HEATER=extruder TARGET={sensor.filament_unload_temp} # restore user temp if it was set before loading
      TEMPERATURE_WAIT SENSOR=extruder MINIMUM={sensor.filament_unload_temp} #wait for reaching filament unload temp
      {% endif %}     
  {% if(printer.extruder.target == 0) %} # checking for set temperature if is zero than set to 200 / hotend hot but cooling due to set target temp 0
      SET_HEATER_TEMPERATURE HEATER=extruder TARGET={sensor.filament_unload_temp} # restore user temp if it was set before loading
      TEMPERATURE_WAIT SENSOR=extruder MINIMUM={sensor.filament_unload_temp} #wait for reaching filament unload temp
  {% endif %} 
  G0 E-5 F3600  #extract filament to cold end
  G4 P2000 # wait for two seconds
  G0 E5 F3600 # push the filament back 
  G0 E-5 F3600  #extract filament to cold end
  G0 E-{sensor.unload_distance} F300  # continue extraction slow allow filament to be cooled enough before reaches the gears  
  M400   
  M118 Load new filament! Wait until is loaded, then resume printing.  
  #SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0 # swicth off heater
  UPDATE_DELAYED_GCODE ID=clear_loadbusy DURATION=2.5 # timing must be set to clear delay plus 0.5s. is due to wait to remove filament before starting load even in case there is a blob at the tip of the extracted filament which woudl trigger the sensor twice




####################################### Filament Loading Code ###############################################


[gcode_macro _filament_load_init]
gcode:
  {% set sensor = printer['gcode_macro _SENSOR_VARIABLES'] %}
  {% if (printer.print_stats.state != "printing") %}
    {% if(sensor.disable_autoload|lower == 'false') %}
      _filament_load
    {% else %}
    M118 Filament auto-load is disabled in the sensor config file!   
    {% endif %} 
  {% else %}    
    M118 Printing! Cannot load filament!  
  {% endif %}
  SET_GCODE_VARIABLE MACRO=_filament_unload VARIABLE=filamentpresent VALUE=1
  UPDATE_DELAYED_GCODE ID=clear_changebusy DURATION=2  

[gcode_macro _filament_load]
variable_loadbusy: 0
variable_USER_TEMP: 0
variable_LOAD_TEMP: 0
gcode:    
    {% set sensor = printer['gcode_macro _SENSOR_VARIABLES'] %}
    {% if loadbusy == 0 %} # requires [virtual_sdcard] 
      SET_GCODE_VARIABLE MACRO=_filament_load VARIABLE=loadbusy VALUE=1
      SET_GCODE_VARIABLE MACRO=_filament_unload VARIABLE=unloadbusy VALUE=1    
      {% set USER_TEMP = printer.extruder.target %} # save user set temperature before loading
      {% set LOAD_TEMP = 0 %} 
      #M118 USER TEMP {USER_TEMP}      # echo back for debug only      
        {% if (printer.extruder.can_extrude|lower != 'true') or (printer.extruder.target < sensor.filament_load_min_temp) %} # checking for minimum extrusion temperature
        # check if temperature is over the minimum extrusion temp. min_extrude_temp must be defined in the extruder config (to about 185)                        
          SET_HEATER_TEMPERATURE HEATER=extruder TARGET={sensor.filament_load_temp} # set user defined load temperature
          {% set LOAD_TEMP = sensor.filament_load_temp %} # save user set temperature before loading           
         M118 Hotend heating! 
      {% endif %}     
    {% if (sensor.enable_beep|lower == 'true') %} 
      M300 # beep sound
    {% endif %}
    M118 Filament loading!  
    M82           #set extruder to absolute mode
    G92 E0
    G4 P1500        # wait for 1.5 seconds
    FORCE_MOVE STEPPER=extruder DISTANCE=15 VELOCITY=10 ACCEL=1000  # load filament inside the gears force move needs to be enabled    
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={LOAD_TEMP} # wait for reaching set temperature    
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={USER_TEMP} # wait for reaching set temperature    
    G1 E{sensor.nozzle_purge_length} F{sensor.nozzle_purge_speed} # extrude preconfigured purge length
    M400 # wait to complete nozzle purge
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={USER_TEMP} # restore user temp if it was set before loading
    M118 Filament load complete!    
    UPDATE_DELAYED_GCODE ID=clear_unloadbusy DURATION=2   
    {% else %}
      M118 Filament already loaded!    
    {% endif %}  



####################################### Filament Unlooad (Button) Code ###############################################

[gcode_macro _filament_unload_init]
gcode:
  {% set sensor = printer['gcode_macro _SENSOR_VARIABLES'] %}
  {% if (printer.print_stats.state != "printing") %}
    {% if(sensor.disable_autounload|lower == 'false') %}
      _filament_unload
    {% else %}
      M118 Filament auto-unload is disabled in the sensor config file!   
    {% endif %} 
  {% else %}   
     M118 Printing! Cannot unload filament!
  {% endif %}

[gcode_macro _filament_unload] 
variable_unloadbusy: 0
variable_filamentpresent: 0
gcode:
    {% set sensor = printer['gcode_macro _SENSOR_VARIABLES'] %}
    {% if unloadbusy == 0 %} # requires [virtual_sdcard]  
      SET_GCODE_VARIABLE MACRO=_filament_unload VARIABLE=unloadbusy VALUE=1
      SET_GCODE_VARIABLE MACRO=_filament_load VARIABLE=loadbusy VALUE=1
      {% if (sensor.enable_beep|lower == 'true') %} 
        M300 # beep sound
      {% endif %}
      M118 Filament unloading!    
      M83
      G92 E0 
      # {% if (printer.extruder.can_extrude|lower != 'true') or (printer.extruder.target == 0)%} # checing for minimum extrusion temperature
      {% if (printer.extruder.can_extrude|lower != 'true')%} # checing for minimum extrusion temperature
        # check if temperature is over the minimum extrusion temp. min_extrude_temp must be defined in the extruder config (to about 185)
        M118 Hotend heating!          
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET={sensor.filament_unload_temp} # restore user temp if it was set before loading
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={sensor.filament_unload_temp} # wait for reaching configured unload temperature
      {% endif %}
      {% if(printer.extruder.target == 0) %} # checing for set temperature if is zero than set to 185 / hotend hot but cooling due to set target temp 0
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={sensor.filament_unload_temp} # wait for reaching configured unload temperature
      {% endif %}
      G0 E10 F500 # extruder 20mm of filament before extracting 
      G0 E-5 F3600  #extract filament to cold end
      G4 P2000 # wait for two seconds
      G0 E6 F3600 # push the filament back 
      G0 E-10 F3600   #extract filament to cold end
      G0 E-{sensor.unload_distance} F300  # continue extraction slow allow filament to be cooled enough before reaches the gears  
      M104 S0
      M400 # wait to complete unload
      M118 Filament unload complete!      
      #SET_GCODE_VARIABLE MACRO=_filament_load VARIABLE=loadbusy VALUE=0     
    {% else %}      
      M118 Nothing to unload!
    {% endif %}





####################################### Delayed G-Code ###############################################

[delayed_gcode clear_unloadbusy]
gcode:
  SET_GCODE_VARIABLE MACRO=_filament_unload VARIABLE=unloadbusy VALUE=0
  #M118 Clear Unload busy! 

[delayed_gcode clear_changebusy]
gcode:
  SET_GCODE_VARIABLE MACRO=_filament_change_state_a VARIABLE=changebusy VALUE=0
  #M118 Clear Load busy!  

[delayed_gcode set_loadbusy]
gcode:
  SET_GCODE_VARIABLE MACRO=_filament_load VARIABLE=loadbusy VALUE=1
  #M118 Set Load busy! 

[delayed_gcode clear_loadbusy]
gcode:
  SET_GCODE_VARIABLE MACRO=_filament_load VARIABLE=loadbusy VALUE=0
  #M118 Clear Load busy!  


